{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	Update Registration
{% endblock %}

{% block content %}
	<div class="form-group" id="register-form">
		<h2 class="text-center">Update Your Information</h2>
		<div class="container">
			<div class="w-75 mx-auto">
				<form method='POST' enctype="multipart/form-data">
					{% csrf_token %}
					<hr>
					{{ form|crispy }}
					<div class="col-sm-12 col-md-4 w-75 mx-auto">
						<button class="btn btn-primary w-100">Submit</button>
					</div>
				</form>
				<div class="col-sm-12 col-md-4 w-75 mx-auto">
					<a href="{% url 'myProfile' user.id %}" class="btn btn-primary w-100">Cancel</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}