{% extends 'index.html' %} 
{% load static %} 

{% block title %} 
    Login
{% endblock %} 


{% block content %}

<body>
    <div id="login-form" class="form-group">
        <form action="{% url 'login' %}" name='Login Form' method="POST" autocomplete="off"> 
            <h3 class="card-title text-center">Please Sign In</h3>
                <hr>
            {% csrf_token %}
            {{ form }}
            <br>
            <button class="btn btn-primary w-100">Sign In</button>
        </form>
    </div>   
    <div>
        <p class="text-center mt-3">Don't have an account?  <span><a href="{% url 'register' %}">Register</a></span></p>
        <p class="text-center mt-3">Forgot Password  <span><a href="{% url 'password_reset' %}">Reset Password</a></span></p>
    </div>            

</body>

{% endblock %}