{% load static %}

<style>
  .b-example-divider {
    width: 100%;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
</style>
<body>
  <div class="b-example-divider my-3"></div>
  <div class="container">
    <footer class="">
      <div class="row text-center">
        <div class="col-sm-12 col-md-4">
          <p class=" text-body-secondary"> &copy; <span class="mb-3 mb-md-0" id="year"></span> 12bytes</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <a href="/"><img src="{% static 'images/logo1.png' %}" width="60" alt=""></a>
        </div>
        <div class="col-sm-12 col-md-4">
          <ul class="nav list-unstyled  text-center">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="{% url 'families' %}" class="nav-link text-body-secondary">Families</a></li>
            <li class="nav-item"><a href="{% url 'profiles' %}" class="nav-link text-body-secondary">Profiles</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-body-secondary">Docs</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <script> document.querySelector("#year").textContent = new Date().getFullYear();</script>
</body>