{% load static %}

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Gifter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'families' %}">Families</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profiles' %}">All Profiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'myProfile' user.id %}">My Profile</a>
        </li>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Forms</a>
          <div class="dropdown-menu">

            <a class="dropdown-item" href="{% url 'update' user.id %}">Update Profile</a>
            <a class="dropdown-item" href="">All Profiles</a>
            {% if user.is_authenticated %}
            <div class="dropdown-divider"></div>

        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/admin">Admin</a></li>
    </div>
    {% endif %}
    </li>
    </ul>
    <ul class="navbar-nav me-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Sign Out &nbsp; <i class="fa-solid fa-right-to-bracket"></i></a>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Sign In &nbsp; <i class="fa-solid fa-right-from-bracket"></i></a>
      </li>
      {% endif %}
    </ul>
  </div>
  </div>
</nav>