{% extends 'index.html' %}
{% load static %}

{% block title %}
    Update: {{gift.name }}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="text-center text-primary">Updating:</h1>
            <br>
        <h1 class="text-center text-success">{{ gift.name }}</h1>
            <br>
    </div>
            <hr>
    <div class="container">
        <div class="col-sm-12 col-md-5 mx-auto">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="col-sm-12 col-md-4 w-75 mx-auto">
                    <button class="btn btn-primary w-100">Submit</button>
                </div>
            </form>
            <div class="col-sm-12 col-md-4 w-75 mx-auto">
                <a href="{% url 'myProfile' user.id %}" class="btn btn-primary w-100">Cancel</a>
            </div>
        </div>
    </div>
{% endblock %}