{% extends 'index.html' %}
{% load static %}

{% block title %}
 Add a hobby
{% endblock %}


{% block content %}
<h1 class="text-center text-success">Add a Hobby to your Profile</h1>
<div class="container">
    <div class="col-sm-12 col-md-6 mx-auto">
        <form action="" method="POST" enctype="multipart/form-data">
            <hr>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-sm-12 col-md-4 w-75 mx-auto">
                <button class="btn btn-primary w-100">Submit</button>
            </div>
        </form>
        <div class="col-sm-12 col-md-4 w-75 mx-auto">
            <a href="{% url 'myProfile' user.id %}" class="btn btn-primary w-100">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}