{% extends 'index.html' %} 
{% load static %} 

{% block title %} 
    Create a Profile
{% endblock %} 


{% block content %}

<body>
    <div class="form-group">
        <h1>Create Your Profile</h1>
        <form action="" method="POST">
            <h2 class="text-center">Create or Update your Profile</h2>
            <hr>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
        
        {% for message in messages %}
            {{ messages }}
        {% endfor %}
       
    </div>


</body>
{% endblock %}