{% extends 'index.html' %}
{% load static %}

{% block title %}
    {{ user.first_name }}'s Profile
{% endblock %}


{% block content %}
<body>
   
        {% for i in profile %}
            <div class="container text-center mb-3">
                <h1 class="text-primary">{{ i.user.first_name }} {{ i.user.last_name }}</h1>
            </div>
                <hr class="text-primary w-50 mx-auto">
                <br>
            <div class="row">
                <div class="card col-sm-12 col-md-2 mx-auto mb-5" id="profile-card" style="width: 18rem;">
                    {% if i.avatar %}
                        <img src="{{ MEDIA_URL}}{{ i.avatar.url }}" class="card-img-top p-3" alt="avatar">
                        {% else %}
                        <img src="{% static 'images/default_user.png' %}" class="card-img-top p-3" alt="avatar">
                    {% endif%}
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary">{{ i.first_name }} {{ i.last_name }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Username:&nbsp;&nbsp;&nbsp; <span class="text-center text-primary fs-5">{{ i.user.username|title }}</span></li>
                        <li class="list-group-item">Birthday:&nbsp;&nbsp;&nbsp; <span class="text-center text-primary fs-5">{{ i.birthday }}</li>
                        {% if i.anniversary %}
                            <li class="list-group-item">Anniversary:&nbsp;&nbsp;&nbsp; <span class="text-center text-primary fs-5">{{ i.anniversary }}</li>
                        {% endif %}
                    </ul>
                </div>
                {% endfor %}
                <div class="col-sm-12 col-md-8 profile-table">
                    <div class="w-100" >
                        <h3 class="text-primary text-center mb-3">Gifts</h3>
                    </div>
                    <table class="table text-center">
                        <thead>
                            <th class="text-primary">Name</th>
                            <th class="text-primary">QTY</th>
                            <th class="text-primary">Description</th>
                            <th class="text-primary">Store</th>
                            <th class="text-primary">Details</th>
                        </thead>
                        {% for i in gifts %}
                        <tr>
                            <td class="text-primary">{{ i.name }}</span></td>
                            <td class="text-primary">{{ i.qty }}</span</td>
                            <td class="text-primary">{{ i.description }}</span/td>
                            <td class="text-primary">{{ i.store }}</span</td>
                            <tr>
                            {% endfor %}
                            <button type="button" class="btn btn-success me-1" href="{% url 'profile' i.id %}"
                                data-bs-toggle="modal" data-bs-target="#profile{{i.id}}">
                                <i class="fa-solid fa-circle-info fa-md"></i>
                            </button>
                                    <!--  Modal -->
                                    <div class="modal" id="profile{{i.id}}" tabindex="-1" aria-labelledby="myModalLable1"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title text-primary">GIFT DETAILS</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card border-success w-100 mb-3 p-3">
                                                        <div class="card-header text-center text-success fs-5">{{ i.name }}</div>
                                                        <div class="card-body">
                                                            <ul class="list-unstyled">
                                                                <li>Quantity:&nbsp;&nbsp;<span class="text-center text-success fs-5">{{ i.qty }}</li>
                                                                    <br>
                                                                <li>Size:&nbsp;&nbsp;&nbsp;<span class="text-center text-success fs-5">{{ i.size }}</li>
                                                                    <br>
                                                                <li>Color:&nbsp;&nbsp;<span class="text-center text-success fs-5">{{ i.color }}</li>
                                                                    <br>
                                                                <li>Store:&nbsp;&nbsp;<span class="text-center text-success fs-5">{{ i.store }}</li>
                                                                    <br>
                                                                <li>Description:&nbsp;&nbsp;<span class="text-center text-success fs-5">{{ i.description }}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <!-- End Modal -->
                            </tr>
                        
                    </table>
                        <br>
                    <hr>
                    <br>
                <div class="col-sm-12 col-md-8">
                    <h3 class="text-center text-primary">Hobbies</h3>
                    <hr>
                    <div>
                        <ul>
                            {% for i in hobbies %}
                            <li class="fs-4"><a href="">{{ i.name }}</a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
       
    </div>
</body>
{% endblock %}