{% extends 'index.html' %}
{% load static %}

{% block title %}
    Families
{% endblock %}


{% block content %}
<body>
    <div class="container">
        <h1 class="text-center text-success mt-5 mb-5">Wish List</h1>
    </div>
    <div class="row container mx-auto">
        {% for i in family %}
        <div class="card m-3" id="card">
            <img src="{{ MEDIA_URL}}{{i.avatar.url }}" id="card-img" alt="avatar">
            <div class="card-body">
                <h5 class="card-title text-center text-success">{{ i.name }}</h5>
            </div>
            <div class="card-body d-grid gap-2">
                <a href="{% url 'family' i.id %}" class="card-link btn btn-outline-primary btn-block mb-4">Family Page</a></span>
                <br>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}