{% extends 'index.html' %}
{% load static %}

{% block title %}
{{ family.0 }}
{% endblock %}


{% block content %}

<body>
    <div class="container">
        <h1 class="text-center text-success mt-5 mb-5">{{ family.0}}</h1>
    </div>
    <div class="row container mx-auto">
        {% for i in users %}
            <div class="card m-3" id="card">
                {% if i.profile_image %}
                    <img src="{{ MEDIA_URL}}{{ i.profile_image.url }}"  id="card-img" alt="avatar">
                {% else %}
                    <img src="{% static 'images/default_user.png' %}" class="card-img-top  p-3" alt="avatar">
                {% endif%}

                <div class="card-body d-grid gap-2">
                    <span class="tips card-body d-grid gap-2" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Please log in to view family members!">
                        <a href="{% url 'profile' i.id %}" class="card-link btn btn-outline-primary btn-block mb-4">{{ i.first_name}}'s Page</a></span>
                    <br>
                </div>
            </div>
        {% endfor %}
    </div>
   
    <script>
        const tooltips = document.querySelectorAll('.tips')
        tooltips.forEach(t => {
            new bootstrap.Tooltip(t)
        })
    </script>
</body>
{% endblock %}