{% extends 'index.html' %}
{% load static %}

{% block title %}
{{ profile.user.first_name}}'s Wishlist
{% endblock %}


{% block content %}

<div class="row">
{% for i in user %}
    <div class="w-75 p-5 mx-auto">
        <h1 class="text-center text-success">{{ i.first_name }} {{ i.last_name }}</h1>
        <hr class="text-success">
    </div>


   
    <div class="col-sm-12 col-md-4">
        <div class="card" id="profile-card" style="width: 18rem; margin: auto; margin-bottom: 3rem;">
            <img src="{{ MEDIA_URL }}{{ i.profile_image.url }}" alt="avatar">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Username: &nbsp; {{ i.username|title }}</li>
                <li class="list-group-item">Birthday: {{ i.birthday }}</li>
                {% if i.anniversary %}
                <li class="list-group-item">Anniversary: &nbsp; {{ i.anniversary }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endfor %}
    
        <div class="col-sm-12 col-md-4 mt-5">
            {% for i in gift %}
                <div class="text-center">
                    <img src="{{ MEDIA_URL }}{{ i.image.url }}" alt="avatar" class="w-50">
                    <h3 >{{ i.name }}</h3>
                </div>   
        </div>
        <div class="col-sm-12 col-md-3">
            <br>
            <h3 class="text-center">Details</h3>
            <hr>
            <br>
            
            <p>Quantity:&nbsp; {{ i.qty }}</p>
            {% if i.color %}
                <p>Color:&nbsp; {{ i.color }}</p>
            {% endif %}
            {% if i.size %}
                <p>Size:&nbsp; {{ i.size }}</p>
            {% endif %}
            <p>Store:&nbsp; {{ i.store }}</p>     
            <p>Updated on:&nbsp; {{ i.updated }}</p>
            <p>Description:&nbsp; {{ i.description }}</p>
        </div>
        <div class="container text-center">
            <a class="btn btn-primary btn-lg" href="">Go Back</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}